<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmad.popularmovies_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MoviesStageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".MoviesStageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ahmad.popularmovies_final.MoviesStageActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" />

        <provider
            android:name=".data.MovieProvider"
            android:authorities="com.example.ahmad.popularmovies_final" />

        <service
            android:name=".sync.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncAdapterService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync">
            <!-->The intent filter lets it catch an intent requesting sync.
             (This Intent comes from ContentResolver when you call ContentResolver.requestSync()
              or related scheduling methods.)<-->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
